<h1>Form Responses</h1>

<!--p><%= "my name is dan".titleize.gsub("a", "4").split (" ") %></p-->

<!-- <p><%= @name %></p>
<p><%= @location %></p>
<p><%= @now %></p>
<p><%= @message %></p>

<h2>Steer is <%= @list.size %> people:</h2>

<h2>Competition</h2>

<ul>
	<li>Sev got <%= @sev_votes %> votes </li>
	<li>Mark got <%= @mark_votes %> votes </li>	
</ul>

<ul>
	<% @list.each do |person| %>
	<li>Person: <%= person %></li>
	<% end %>
</ul> -->

<div class="row-fluid">
  <div class="span12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>E-Mail</th>
          <th>Job title</th>
          <th>Rating</th>
          <th>Recommended?</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
      <% @forms.each do |form| %>
        <tr>
          <td><%= link_to form.name, form_path(form) %></td>
          <td><%= form.email %></td>
          <td><%= form.job_title %></td>
          <td><%= form.rating %></td>
          <td><%= form.would_recommend %></td>
          <td><%= link_to "Edit", edit_form_path(form), class: "btn btn-success btn-mini" %></td>
          <td><%= link_to "Delete", form_path(form), method: :delete, confirm: "Are you sure?", class: "btn btn-danger btn-mini" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>